@using FuelAudition.Models;
@using System.Globalization;
@using FuelAudition.Models.Enum;
@model FuelAudition.Models.ViewModel.ResultatRechercheFournisseurVM

<input type="hidden" id="PageCourante" value="@Model.PageCourante.ToString()" />
<input type="hidden" id="Trie" value="@Model.Trie" />
<input type="hidden" id="SensTrie" value="@Model.SensTrie" />

@if (Model.Fournisseurs.Count > 0)
{
    string langue = CultureInfo.CurrentCulture.Name;
    <table class="table table-bordered table-striped">
        <tr>
            <th data-trie="Nom">
                @Resources.FournisseurRechercheColonneNom
                <i class="fa fa-sort pull-right"></i>
            </th>
            <th data-trie="Carburant">
                @Resources.FournisseurRechercheColonneCarburant
                <i class="fa fa-sort pull-right"></i>
            </th>
            <th data-trie="Volume">
                @Resources.FournisseurRechercheColonneVolume
                <i class="fa fa-sort pull-right"></i>
            </th>
            <th data-trie="Marge">
                @Resources.FournisseurRechercheColonneMarge
                <i class="fa fa-sort pull-right"></i>
            </th>
            <th data-trie="Statut" style="width:75px">
                @Resources.FournisseurRechercheColonneStatut
                <i class="fa fa-sort pull-right"></i>
            </th>
            <th style="width:65px">
            </th>
        </tr>
        
        @foreach (ClientFournisseur clientFournisseur in Model.Fournisseurs)
        {
            <tr data-id="@clientFournisseur.ClientFournisseurId" data-titre="@clientFournisseur.Fournisseur.Nom">
                <td data-col="Nom">
                    @Html.DisplayFor(modelItem => clientFournisseur.Fournisseur.Nom)
                </td>
                <td data-col="Carburant">
                    @if (langue == "fr")
                    {
                        @Html.DisplayFor(modelItem => clientFournisseur.Carburant.NomFr)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => clientFournisseur.Carburant.NomAn)
                    }
                    
                </td>
                <td data-col="Volume">
                    @if (langue == "fr")
                    {
                        @Html.DisplayFor(modelItem => clientFournisseur.Volume.NomFr)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => clientFournisseur.Volume.NomAn)
                    }
                    
                </td>
                <td data-col="Marge">
                    @string.Format("{0:G29}", decimal.Parse(clientFournisseur.Marge.ToString()))
                </td>
                <td data-col="Statut" class="text-center">
                    @switch (clientFournisseur.Statut)
                    {
                        case (int)Statut.EnAttenteApprobation:
                            <i class="fa fa-clock-o" style="font-size:20px" data-toggle="tooltip" data-placement="right" data-html="true" title="@Resources.FournisseurRechercheStatutEnAttenteApprobation"></i>
                            break;
                        case (int)Statut.Approuver:
                            <i class="fa fa-check" style="color:green;font-size:20px" data-toggle="tooltip" data-placement="right" data-html="true" title="@Resources.FournisseurRechercheStatutApprouver"></i>
                            break;
                        case (int)Statut.Refuser:
                            <i class="fa fa-times" style="color:red;font-size:20px" data-toggle="tooltip" data-placement="right" data-html="true" title="@Resources.FournisseurRechercheStatutRefuser"></i>
                            break;
                        default:
                            break;
                    }

                </td>
                <td class="text-center">

                    <i class="fa fa-pencil fa-lg modifier" title="@Resources.GlobalBoutonModifier"></i>
                    <i title="@Resources.GlobalBoutonSupprimer" class="fa fa-trash-o fa-lg supprimer" data-toggle="modal" data-target="#ConfirmerSuppression"></i>

                </td>
            </tr>
        }

    </table>


    string classe = "";
    int suivant = Model.PageCourante + 1;
    int precedent = Model.PageCourante - 1;
    double dernierePage = Math.Ceiling((double)Model.Total / (double)Model.NbElementParPage);

    if (Model.PageCourante == 1)
    {
        classe = "disabled";
        precedent = -1;
    }

    if (dernierePage == 0)
    {
        dernierePage = 1;
    }



    <nav class="text-center">
        <ul class="pagination">
            <li class="@classe">
                <a href="javascript:void(0)" class="classe" data-page="@precedent" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= dernierePage; i++)
            {
                if (i == Model.PageCourante)
                {
                    <li class="active"><a href="javascript:void(0)" data-page="@i">@i <span class="sr-only">(current)</span></a></li>
                }
                else
                {
                    <li><a href="javascript:void(0)" data-page="@i">@i</a></li>
                }

            }


            @{
                classe = "";
                if (Model.Total < Model.NbElementParPage || Model.PageCourante == dernierePage)
                {
                    classe = "disabled";
                    suivant = -1;
                }

            }


            <li class="@classe">
                <a href="javascript:void(0)" aria-label="Next" data-page="@suivant">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


    <div id="ConfirmerSuppression" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Resources.FournisseurModaleSuppressionTitre</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.GlobalBoutonFermer</button>
                    <button type="button" class="btn btn-primary">@Resources.GlobalBoutonConfirmer</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {

        <script type="text/javascript">
            $(document).ready(InitialiserResultatRecherche);

        </script>
    }
}