@model FuelAudition.Models.ViewModel.GraphiqueVM
@{

    ViewBag.Title = Resources.StatistiqueGraphiqueTitre;
    ViewBag.Description = Resources.StatistiqueGraphiqueSousTitre;

}

@section head {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
}


@if (!Model.AFournisseurAjoute)
{
    <div class="callout callout-warning">
        <h4><i class="fa fa-warning" style="margin-right:20px"></i>@Resources.StatistiqueGraphiqueSansFournisseurSousTitre</h4>

        <p>@Resources.StatistiqueGraphiqueSansFournisseurMessage</p>
        @Html.ActionLink(Resources.StatistiqueGraphiqueSansFournisseurLien, "Create", "Fournisseur")
    </div>
}
else
{
    <div id="chargement" style="text-align:center">
        <div style="margin-bottom:5px">@Resources.StatistiqueGraphiqueChargement</div>
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw" style="text-align:center"></i>
    </div>
    
    <div id="sommaire" class="row" ></div>
    <div class="clearfix" style="margin-bottom:20px"></div>
    <div id="consigne" style="margin-bottom:10px;display:none">
        @Resources.StatistiqueGraphiqueConsigneLegende
        

        <div class="checkbox">
            
            <input type="checkbox" id="fill" checked="checked" />
            <label>@Resources.StatistiqueGraphiqueRemplir </label>
        </div>
    </div>
    <div style="position:relative">
        <div id="legendeNbClient" style="display:none;position:absolute;left:-50px;top:0px;font-weight:bold;-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);-o-transform: rotate(270deg); -ms-transform: rotate(270deg);transform: rotate(270deg);">
            @Resources.StatistiqueGraphiqueVolumeLitre
            
        </div>
    </div>
    <div style="overflow:auto;margin-left:30px;">
        <canvas id="chart" style=""></canvas>
    </div>
    
        
    
    <div id="legendeMarge" style="text-align:center;font-weight:bold;display:none">
        @Resources.StatistiqueGraphiqueMarges
        
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/statistique")



        <script type="text/javascript">
            $(document).ready(function () {

                InitialiserStatistique();
            });
            var urlObtenirGraphique = '@(Url.Action("ObtenirGraphiquePoint", "Statistique"))';
            var texteMoyenne = '@Resources.StatistiqueGraphiqueMoyenne';
            var texteMediane = '@Resources.StatistiqueGraphiqueMediane';
            var texteMedianeInfoBulle = '@Resources.StatistiqueGraphiqueMedianeInfoBulle';
            var texteNbClient = '@Resources.StatistiqueGraphiqueNbClient';
            var texteNbClientInfoBulle = '@Resources.StatistiqueGraphiqueNbClientInfoBulle';
            var texteVotreMarge = '@Resources.StatistiqueGraphiqueVotreMarge';
            var texteMarge = '@Resources.StatistiqueGraphiqueMarge';
            var ressourceVolume = '@Resources.StatistiqueGraphiqueVolume';
        </script>
    }
}


