@using FuelAudition.Models
@model LoginViewModel
@{
    ViewBag.Title = Resources.ConnexionTitre;
}

<h2>@Resources.ConnexionTitre</h2>

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>@Resources.ConnexionTexte</h4>
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-8 row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>

                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>

                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="@Resources.ConnexionBoutonConnexion" class="btn btn-primary pull-right" />

                        </div>
                        <p>
                            @Html.ActionLink(Resources.ConnexionNouvelUtilisateur, "Register")
                        </p>
                        <p>
                            @Html.ActionLink(Resources.ConnexionOublierMotPasse, "ForgotPassword")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

</section>

<div class="col-md-4">
    <section id="socialLoginForm"></section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}